input[type="file"] {
  display: none;
}
.custom-file-upload-Customer {
  display: inline-block;
  cursor: pointer;
  background-color: #1976d2;
  font-family: "roboto";
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  padding: 3px 5px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
}
